alembic==1.7.7
cycler==0.11.0
fonttools==4.31.1
greenlet==1.1.2
importlib-metadata==4.11.3
keyring==23.5.0
kiwisolver==1.4.0
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
psycopg2==2.9.3
pyparsing==3.0.7
PySide2==5.15.2.1
python-dateutil==2.8.2
pytz==2021.3
pywin32-ctypes==0.2.0
shiboken2==5.15.2.1
six==1.16.0
SQLAlchemy==1.4.32
-e git+https://github.com/beskakotov/mavr-ums.git@133d35fb68a01a9131686b16cbd55cfe2097fa85#egg=ums
zipp==3.7.0
